apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: traefik-gateway
  namespace: traefik
spec:
  gatewayClassName: traefik
  listeners:
    - name: websecure
      port: 8443
      protocol: HTTPS
      hostname: "team01.docker.localhost"
      allowedRoutes:
        namespaces:
          from: Selector # Cross Namespace for Routes
          selector:
            matchLabels:
              type: approved-ns
        kinds:
        - kind: HTTPRoute
      tls:
        mode: Terminate
        certificateRefs:
        - kind: Secret
          name: external-certs
          namespace: team01 # Cross Namespace for TLS Certificates
